section {
    background-image: url('../../assets/img/tempLandingBackdrop.jpg');
    background-position: bottom right;
    height: 100vh;
}

h1 {
    color: black;
}

h2 {
    color: #4f4f4f;
}

.container {
    padding-top: 2rem;
}